html, body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
  background: url('pazarando.jpg') center center no-repeat fixed;
  background-size: cover;
}

.container {
  max-width: 700px;
  margin: 0 auto;
}

.img-responsive{
box-shadow:3px 3px black;
max-height:220px;
max-width:150px;
}




.header,
.footer {
  padding: 30px 20px;
  color: #444;
}

.header h1 {
  color:#fff;
  margin: 0;
  padding: 10px 0;
  font-size: 20px;
  text-transform: uppercase;
}

.header ul,
.footer ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.header li {
  display: inline;
  text-align: center;
}

.header li a {
  color:#f01251;
  margin: 2px;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:hover,
.nav-pills>li.active>a:focus {
  background-color: #f01251;
  margin-left:5px;
}

.thumbnail {
  padding: 0;

  border-radius:0px;
  border:0px;
}

 {
  width: 100%;
  display: block;
}

.thumbnail img:hover{
box-shadow:4px 4px red;

}

.flex{
  flex: auto;
}



.footer li {
  display: inline;
  margin-right: 40px;
}

.footer p {
  margin: 0;
}

.selected {
  border: 2px solid black;
}
